* {
  margin: 0px;
  padding: 0px;
}
html{
  scroll-behavior: smooth;
}
nav {
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  }
/* body {
 
} */
ul {
  display: flex;
  list-style: none;
  background-color: black;
  margin-top: 0px;
  align-items: center;
  color: white;
  }
  li{
    margin:3px;
  }
  
.li a {
  padding: 6px 23px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.li a:hover {
  padding: 6px 23px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
}

#left {
  position: relative;
  /* float: right; */
  left: 35%;
  width: 40%;
  display: flex;
  
}

#img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.firstsection{
    background: rgba(0, 0, 0, 0.7) url("images.jpg");
    background-size: cover;
    background-blend-mode:darken;
   
}
.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  max-width: 70%;
  margin-top: 10%;
  margin: auto;
 
 }

.btn:hover {
  cursor: pointer;
  background-color:white;
  /* background: none; */
}
.firsthalf {
  width: 80%;
}
.secondhalf {
  width: 30%; 
}
.secondhalf img {
  width: 250px;
  height: 250px;
  border: 2px solid blue;
  border-radius: 50%;
}
.big-text{
    font-size: 30px;
    font-weight: bold;
}
.small-text{
    font-size: 15px;
}
.secondsection{
    margin-top: 40px;
    background-color: rgb(227, 219, 219);
}
.s{
  background-color: rgb(140, 140, 175);
}
.f{
  background-color: rgb(137, 228, 228);
}
.boxx{
    display: flex; 
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
}
.firsts{
max-width: 70%;
}
.seconds{
max-width: 35%;
}
.s{
    display: flex;
    flex-direction: row-reverse;
}
.contact{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(225, 236, 244);
    text-align: center;
}
.text{
    font-weight: bolder;
    font-size: 30px;
}
#form{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
   /* justify-content: center; */
    /* justify-items: center; */
    margin: auto;
    padding: 25px;
    max-width: fit-content;
}
#email{
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: 4px solid black;
    height: 35px;
    border-radius: 15px;

}
#name{
    height: 35px;
    border-radius: 15px;
}
#city{
    height: 35px;
    border-radius: 15px;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    justify-items: center;
    text-align: center;
    margin: auto;
}
.burger{
    position: absolute;
    cursor: pointer;
    right: 10%;
    top: 5px;
    display: none;
}
.line{
  width: 33px;
  height: 5px; 
  background-color: white;
  margin: 3px 5px;
  
}

@media only screen and (max-width:1100px){
  ul{
    flex-direction: column;
  }
  #left {
    position: relative;
    /* float: right; */
    left: 1%;
    width: 10%;
    display: flex;
    flex-direction: column;
  }
  #search{
    margin-bottom: 2px;
    width:100%;
  }
  #btnn{
    width:1%;
    cursor: pointer;
  }
.burger{
  display: block;
}
/* ul{
  height: 72px;
} */
.vres{
  opacity: 0;
}
.vvres{
  height: 72px;
}
.box-main{
  max-width: 70%;
  margin-top: 10%;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
  justify-items: center;
  align-items: center;
}
.boxx{
  max-width: fit-content;
  display:flex;
  flex-direction: column-reverse;
  justify-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}
.seconds{
  justify-content: center;
  align-self: center;
}
.si{
  text-align:center;
  align-self: center;
  margin: auto;
}
.firsts{
  text-align:left;
}
}